body{
    background-color: black;
    padding: 0;
    margin: 0;
}
.bg img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 40%;
    object-fit: cover;
    z-index: -100;
}

.headlo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2rem;
}
.logo{
    max-width:10rem ;
}
.con{
    position: relative;
    top: 13vh;
}
.title{
    font-family: Rubik;
    color: aliceblue;
    
    text-align: center;
    
}
.box{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;


    
}


.box .card{
    text-align: center;
    max-width: 13rem ;
    width: 12rem;
    text-align: center;
    min-height: 20rem;
    

}
.box .card img{
    
    text-align: center;
    max-width: 10rem ;
    border-radius: 14px;
    
}

.box a{
    text-align: center;
    text-decoration: none;
    color: rgb(198, 198, 198);
    font-size: 2rem;
    font-family: poppins;
    margin: 0;


}

.box a h6{
    margin: 1rem;
}


@media (max-width: 570px){

   .box{
    margin-left: 20px;
    margin-right: 20px;
   }


}

   
@media (max-width: 460px){
    .con h1{
        margin-left: 30px;
        margin-right: 30px;
    
        
    }
    


}
@media (max-height: 550px){
    .con {
        top: 2%;
       

    }
    


}
@media (max-height: 430px){
    .box img{
        max-width: 8rem ;
        border-radius: 14px;
        
    }
    .box a{
        
        font-size: 1rem;
    
    }
    
    .title{
        font-size: 1.7rem;
    }


}
@media (max-height: 340px){
    .box img{
        max-width: 6rem ;
        border-radius: 14px;
        
    }
    .box a{
        
        font-size: 1.2rem;
    
    }
    
    .title{
        font-size: 1.3rem;
    }


}
@media (max-width: 640px){
    .box{
        flex-direction: column;
        gap: 0;
        margin-top: 4rem;
    }
  
    .headlo{
        justify-content: center;
  
    }
    .con{
        top: 1% ;
    }
}